@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --orange-text: #f6b301;
  --green-button: #143417;
  --font-colour: #8c8c8c;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--font-colour);
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1ebe3;
  width: 100vw;
  height: 100vh;
  > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    padding: 1rem;
    > .navbar-left {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > .navbar-mid {
      > a {
        margin-right: 1rem;
      }
      > .three {
        margin-right: 0;
      }
      > a {
        text-decoration: none;
      }
    }
    > .navbar-right {
      > a {
        text-decoration: none;
        margin-right: 1rem;
      }
      > button {
        height: 3.5rem;
        width: 9rem;
        color: white;
        background-color: var(--green-button);
        border: none;
        border-radius: 0.3rem;
      }
    }
    > .menu-dropdown {
      display: none;
      //transform: scale(0);
    }
  }
  > main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    gap: 8rem;
    > .main-left {
      display: flex;
      flex-direction: column;
      width: 52rem;
      height: 22rem;
      > .line-one {
        color: black;
        font-size: 4.2rem;
        > .line-two {
          font-size: 4rem;
          color: var(--orange-text);
        }
      }
      > p {
        font-size: 1.2rem;
        padding: 1rem 0;
        line-height: 2rem;
        width: 50rem;
      }
      > button {
        height: 4.5rem;
        width: 9rem;
        color: white;
        background-color: var(--green-button);
        border: none;
        border-radius: 0.3rem;
      }
      > .flex {
        display: flex;
        align-items: center;
        gap: 1rem;
        > .lower-text {
          margin-top: 1rem;
        }
        > .flex {
          gap: 0.7rem;
          > img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    > .main-right {
      > .photo {
        width: 26rem;
        height: 30rem;
      }
    }
  }
  > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    > .flex {
      gap: 7rem;
    }
  }
}

.flex {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  body {
    > nav {
      gap: 15rem;
    }
    > main {
      gap: 4rem;
      > .main-left {
        width: 38rem;
        > .line-one {
          color: black;
          font-size: 3.2rem;
          > .line-two {
            font-size: 3.2rem;
            color: var(--orange-text);
          }
        }
        > p {
          width: 40rem;
          font-size: 1.1rem;
        }
      }
      > .main-right {
        > .photo {
          width: 20rem;
          height: 24rem;
        }
      }
    }
    > footer {
      > .flex {
        gap: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  body {
    > nav {
      gap: 9rem;
    }
    > main {
      gap: 3rem;
      > .main-left {
        width: 35rem;
        > .line-one {
          color: black;
          font-size: 3.2rem;
          > .line-two {
            font-size: 3.2rem;
            color: var(--orange-text);
          }
        }
        > p {
          width: 35rem;
          font-size: 1.1rem;
        }
      }
      > .main-right {
        > .photo {
          width: 20rem;
          height: 24rem;
        }
      }
    }
    > footer {
      > .flex {
        flex-shrink: 4;
        gap: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  body {
    > nav {
      gap: 3rem;
    }
    > main {
      display: flex;
      flex-direction: column;
      height: 65%;
      > .main-left {
        width: 40rem;
        gap: 1rem;
        height: auto;
        > h1 {
          display: inline;
          > .line-one {
            color: black;
            font-size: 4rem;
            > .line-two {
              font-size: 4rem;
              color: var(--orange-text);
            }
          }
        }
        > p {
          width: 35rem;
          font-size: 1.2rem;
        }
      }
      > .main-right {
        display: none;
      }
    }
    > footer {
      gap: 2rem;
      > .flex {
        width: 600px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    > nav {
      gap: 3rem;
    }
    > main {
      display: flex;
      flex-direction: column;
      height: 65%;
      > .main-left {
        width: 34rem;
        gap: 1rem;
        height: auto;
        > h1 {
          display: inline;
          > .line-one {
            color: black;
            font-size: 4rem;
            > .line-two {
              font-size: 4rem;
              color: var(--orange-text);
            }
          }
        }
        > p {
          width: 35rem;
          font-size: 1.2rem;
        }
      }
      > .main-right {
        display: none;
      }
    }
    > footer {
      gap: 2rem;
      > .flex {
        width: 600px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  body {
    > nav {
      gap: 5rem;
      > .navbar-mid {
        display: none;
      }
      > .navbar-right {
        display: none;
      }
      > .menu-dropdown {
        display: block;
        > .hidden {
          display: none;
        }
      }
    }
    > main {
      //display: flex;
      //flex-direction: column;
      height: 65%;
      > .main-left {
        width: 40rem;
        gap: 1rem;
        height: auto;
        > h1 {
          display: inline;
          > .line-one {
            color: black;
            font-size: 4rem;
            > .line-two {
              font-size: 4rem;
              color: var(--orange-text);
            }
          }
        }
        > p {
          width: 35rem;
          font-size: 1.2rem;
        }
      }
      > .main-right {
        display: none;
      }
    }
    > footer {
      gap: 2rem;
      > .flex {
        width: 370px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        > img {
          width: 35%;
          height: 35%;
        }
      }
    }
  }
}
