@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --orange-text: #f6b301;
  --green-button: #143417;
  --font-colour: #8c8c8c;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--font-colour);
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1ebe3;
  width: 100vw;
  height: 100vh;
  > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    padding: 1rem;
    > .navbar-left {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > .navbar-mid {
      > a {
        margin-right: 1rem;
      }
      > .three {
        margin-right: 0;
      }
      > a {
        text-decoration: none;
      }
    }
    > .navbar-right {
      > a {
        text-decoration: none;
        margin-right: 1rem;
      }
      > button {
        height: 3.5rem;
        width: 9rem;
        color: white;
        background-color: var(--green-button);
        border: none;
        border-radius: 0.3rem;
      }
    }
  }
  > main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    gap: 7rem;
    > .main-left {
      display: flex;
      flex-direction: column;
      width: 52rem;
      height: 22rem;
      .line-one {
        color: black;
        font-size: 4.2rem;
      }
      > .line-two {
        font-size: 4.2rem;
        color: var(--orange-text);
      }
      > p {
        font-size: 1.2rem;
        padding: 1rem 0;
        line-height: 2rem;
      }
      > button {
        height: 4.5rem;
        width: 9rem;
        color: white;
        background-color: var(--green-button);
        border: none;
        border-radius: 0.3rem;
      }
      > .flex {
        display: flex;
        align-items: center;
        gap: 1rem;
        > .lower-text {
          margin-top: 1rem;
        }
        > .flex {
          gap: 0.7rem;
          > img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    > .main-right {
      > .photo {
        width: 26rem;
        height: 30rem;
      }
    }
  }
  > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    > .flex {
      gap: 7rem;
    }
  }
}

.flex {
  display: flex;
}
